@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --g-table-box-shadow:
    -8px 0px 8px rgba(20,20,20,0.2),
    8px 0px 24px rgba(20,20,20,0.2),
    0px 8px 8px rgba(20,20,20,0.2),
    0px -8px 24px rgba(20,20,20,0.2);
  
  --g-default-transition: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
  --g-default-filter: brightness(115%) saturate(110%) hue-rotate(-15deg);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 3.15rem;
}
h2 {
  font-size: 2.85rem;
}

table {
  background-color: rgb(20,20,20);
  box-shadow: var(--g-table-box-shadow);
  border-collapse: separate;
  border-spacing: 3px;
}

table th {
  background-color: rgb(24,24,24);
  box-shadow: var(--g-table-box-shadow);
  margin: 2px;
  padding: 4px 8px;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgb(250,250,250);
  transition: var(--g-default-transition);
}

table td {
  background-color: rgb(24,24,24);
  box-shadow: var(--g-table-box-shadow);
  margin: 2px;
  padding: 4px 8px;
  min-width: 50px !important;
  text-align: center;
  border: 1px solid rgb(250,250,250);
  transition: var(--g-default-transition);
}

table .noShow {
  filter: opacity(0%);
  transition: var(--g-default-transition);
}

table .noShow:hover {
  transition: var(--g-default-transition);
  filter: var(--g-default-filter);
}

table th:hover:not(.noShow),
table td:hover:not(.noShow) {
  transition: var(--g-default-transition);
  border: 1px solid rgb(80,80,80);
  cursor: default;
}

a {
  text-decoration: none;
  color: rgb(86, 123, 255) !important;
}

a:hover {
  text-decoration: underline;
  filter: brightness(165%) saturate(115%) hue-rotate(20deg);
}

a:visited {
  filter: hue-rotate(-20deg);
}

a:active {
  filter: brightness(1000000%);
}

p {
  margin-bottom: 36px;
}
