@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.blockOuter {
    width: 65%;
    margin: auto;
}

.blockInner {
    font-family: "Roboto Mono";
    color: #4F5B63;
    border: 1.7px solid #C8CDD2;
    border-radius: 9px;
    background-color: #F5F5F5;
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    white-space: pre;
    overflow: scroll;
}

.pageWalk {
  margin: 32px 0px 20px 0px;
  text-align: center;
}
