@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Reddit+Sans+Condensed:wght@200..900&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --font-normal: Reddit Sans;
    --font-mono: Reddit Mono;
    --font-condensed: Reddit Sans Condensed;
}

body {
    color: rgb(215,215,215);
    background-color: rgb(28,28,28);
    font-family: var(--font-normal);
    font-size: 16px;
}
